@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=TASA+Explorer:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068)
}

header div {
    display: flex;
}

header img {
    height: 25px;
    border-radius: 25px;

}

header h1 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 20px;
    margin-left: 5px;

}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

header span span {
    color: rgb(255, 166, 0);
}

header a {
    color: #276e5f;
    text-decoration: none;
}

header button {
    background-color: white;
    color: orange;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 10px;

}

.hero-main h1 p {
    color: #000000;
    font-size: 1rem;
}

.hero-main {
    background-color: #c0ff9b0e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.hero-main .spe-p {
    color: #276e5f;
    background-color: #276e5f21;
    width: max-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 50px;
}

.hero-main div div h1 {
    font-family: "Archivo Black", sans-serif;
    margin-top: 30px;
    word-spacing: -1px;
    letter-spacing: -0.6px;
    font-size: 4rem;
}

.hero-main h1 span span {
    color: #030000;
}

.hero-main div div h1 span {
    color: #276e5f;

}

.hero-main div div p {
    color: #000000;
    margin-top: 25px;
}

.hero-main div div div button:first-of-type {
    margin-top: 10px;
    background-color: #4efd83;
    color: #030000;
    padding: 3px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid green;

}

.hero-main div div div button {
    margin-top: 10px;
    background-color: #ffffff;
    color: #ff7403;
    padding: 3px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid #ff7403;
}

.sendpara {
    font-size: 1.1rem;
}

.hero-main div div div {
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 50px;
    margin-top: 15px;

}

.hero-main-img {
    position: relative;
    margin-top: 50px;
    padding: 14px;
    border-radius: 18px;
}


.hero-main-img::before {
    content: "";
    position: absolute;
    inset: 5px;
    transform: rotate(3deg);
    background: rgba(202, 114, 13, 0.15);
    border-radius: 22px;
    z-index: -1;
}

.hero-main-img img {
    display: block;
    border-radius: 15px;
}

.order-step-section {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 100;

}

.img-content {
    position: absolute;
    left: 14px;
    right: 14px;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(1px);
}

.img-content small {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #777;
}

.img-content h4 {
    font-size: 13px;
    font-weight: 500;
}

.badge {
    background: #ff7a18;
    color: #fff;
    padding: 5px;
    width: 50px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 400;
}

.tick-badge {
    margin-top: 10px;
}

.rigth-side-hero {
    background-color: #ffffff28;

}

.order-step-section {
    margin-top: 50px;
    text-align: center;

}

.steps {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.orders-step {
    width: 280px;
    padding: 25px 22px;
    border-radius: 18px;
    text-align: center;
}

.icon {
    width: 60px;
    height: 60px;
    background: #00ff4c83;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}

.orders-step p:first-of-type {
    font-weight: 600;
    margin-top: 10px;
    font-size: 1rem;
}

.orders-step p:last-of-type {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #555;
}

.flex-steps {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers-section {
    margin-top: 75px;
}

.offers-section h1 {
    text-align: left;
    margin-left: 25px;
}

.offers-section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 50px;
}

.offers-section a {
    text-decoration: none;
    color: #276e5f;
}

.flex-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img-product {
    width: 150px;
    border-radius: 5px;
}

.badge-product {
    position: absolute;
    top: 12px;
    left: 12px;
    background: orange;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 600;
}

.product {
    flex-wrap: wrap;
    width: 180px;
    border-radius: 16px;
    padding: 14px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    flex-direction: column;
}

.product div {
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-direction: column;
    align-items: left;
}

@media (max-width: 768px) {
    .flex-product {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-main-img img {
        max-width: 100%;
        height: auto;

    }

    .hero-main {
        flex-direction: column;
    }

    .hero-main div div h1 {
        font-size: 3rem;
    }

    .order-step-section div {
        gap: 5px;
        flex-wrap: wrap;
    }

    .offers-section div {
        gap: 5px;
    }

    .offers-section h1 {
        font-size: 1.5rem;
        margin-left: 10px;
    }


}